<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Materias</title>
    <link rel="stylesheet" th:href="@{/public/estilo.css}">
</head>
<body>
<h1>Lista de Materias</h1>
<table border="1">
    <thead>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Carga Horaria</th>
        <th>model.Docente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="materia : ${materias}">
        <td th:text="${materia.codigo}">Código</td>
        <td th:text="${materia.nombre}">Nombre</td>
        <td th:text="${materia.cargaHoraria}">Carga Horaria</td>
        <td th:text="${materia.docente.nombre + ' ' + materia.docente.apellido}">model.Docente</td>
    </tr>
    </tbody>
</table>
<a href="/" th:href="@{/}">Volver al inicio</a>
</body>
</html>
